@model IEnumerable<IEXTrading.Models.Rec>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Recreation Activities</title>
        <!---->
        <link rel="stylesheet" href="~/css/index.css" />
        <script type="text/javascript" src="~/js/Chart.min.js"></script>
        <script type="text/javascript" src="~/lib/chartjs-plugin-annotation-master/chartjs-plugin-annotation.min.js"></script>
        <script type="text/javascript" src="~/js/site.js"></script>
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet"
              type="text/css"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Pacifico|Roboto&display=swap" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#searchbar").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    </head>
    <body>
        <div class="head">
            <div class="topnav">
                <a asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                <a class="active" asp-area="" asp-controller="Home" asp-action="Read_rec_data">EXPLORE</a>
                <a asp-area="" asp-controller="Signups" asp-action="Index">DISPLAY CHARTS</a>
                <a asp-area="" asp-controller="Signups" asp-action="Create">SIGN UP</a>
                <a asp-area="" asp-controller="Home" asp-action="About">ABOUT US</a>




                <div class="bodyexplore">

                </div>
            </div>

            <div>
                <h1 class="home_about_dataset" align="center">Recreation Spring Gym Activities and Details</h1>
            </div>
            <input class="form-control" id="searchbar" type="text" placeholder="Search.." style="height:30px;width:500px;margin-left:0px">
            <div class="summary_table" style="overflow-x:auto;">

                <table>
                    <tr>

                        <th>Activity</th>
                        <th>Recreation Center</th>
                        <th>Address</th>
                        <th>Phone Number</th>
                        <th>Age Requirement</th>
                        <th>Days of Week</th>
                        <th>Time</th>


                    </tr>

                    <tbody id="myTable">

                        @foreach (var item in Model)
                        {
                            <tr>

                                <td class="rec">
                                    @Html.DisplayFor(modelItem => item.activity)
                                </td>
                                <td class="rec">
                                    @Html.DisplayFor(modelItem => item.recreation_center)
                                </td>
                                <td class="rec">
                                    @Html.DisplayFor(modelItem => item.address)
                                </td>
                                <td class="rec">
                                    @Html.DisplayFor(modelItem => item.phone_number)
                                </td>
                                <td class="rec">
                                    @Html.DisplayFor(modelItem => item.age_requirements)
                                </td>

                                <td class="rec">
                                    @Html.DisplayFor(modelItem => item.days_of_week)
                                </td>
                                <td class="rec">
                                    @Html.DisplayFor(modelItem => item.times)
                                </td>

                            </tr>
                        }
                      
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <a id="dbopt" asp-controller="Home" asp-action="Savedata" style="margin-left:20px;font-size:15px"> SAVE DATA </a>
                        </td>

                        <td>
                            <a id="dbopt" asp-controller="Home" asp-action="Refresh" style="font-size:15px"> DELETE DATA </a>
                        </td>

                    </tr>



                    </tbody>
                </table>
                <script>
    alertDbSave(@ViewBag.dbSuccessComp);
                </script>
            </div>

            <br><br>
       
        </div>
    </body>
<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>
